@import '../../main-styles.scss';
@import '../../styles.scss';

// --------------------
// defining animations and keyframes

@keyframes scalein {
    from { scale: 0; }
    to   { scale: 1; }
}

@keyframes scaleout {
    from { scale: 1; }
    to   { scale: 0; }
}

// --------------------

// all titles
h1 {
    font-size: 200%;
    color: darken($dark, 20%);
}

.mat-body { // body para os elementos do angular material
    font-family: 'Nunito';
}

.outer-big-div {
    // text
    font-size: 110%;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; // horizontal align
    align-items: flex-start; // vertical align
    background-color: white;
    outline: 1px solid lightgrey;
    transition: 1s all;

        @media only screen and (max-width: $desktop-width) { // mobile
            height: 100vh;
            min-height: 800px;
        }

        @media only screen and (max-width: $tablet-width) { // smaller mobile
            width: 100vw;
            height: 100vh;
            min-height: 800px;
            justify-content: center;
            align-items: flex-start;
        }

    .book-cover-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 300px;
        min-height: 450px;
        transition: 0.5s all;
        background-color: white;

            @media only screen and (max-width: $desktop-width) {
                margin: 0px;
                padding: 0px;
                width: 0;
                height: 0;
                scale: 0;
                transition: 0.5s all;
            }
    }

    .book-cover-image-container-MOBILE {  // aqui tem de tar off, estamos em desktop
        height: 0px;
        width: 0px;
        transition: 0.5s all;

            @media only screen and (max-width: $desktop-width) { // mobile, tem de tar on aqui
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin: 20px;
                padding: 10px;
                width: 300px;
                height: 300px;
                transition: 0.5s all;
            }
    }

    .info-tabs-container { // also includes mat navigation bar
        width: 100%;
        min-height: 350px;


        .main-info-container { // this also affects the other mat tabs
        height: auto;
        min-height: 350px;
        transition: all 1s;
        background-color: white;

        .authors-text {
            padding-left: 28px;
        }

        .book-icon {
            padding: 5px 0px 0px 0px;
            width: 28px;
            height: 28px;
        }

            @media only screen and (max-width: $desktop-width) { // mobile
                height: 100vh;
                min-height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin: 40px;

                .authors-text {
                    padding-left: 0px;
                }
            }

        }

        .description-tab-container {
        height: auto;
        min-height: 350px;
        transition: all 1s;
        padding: 0px 20px 0px 0px;

        .book-icon {
            padding: 5px 0px 0px 0px;
            width: 28px;
            height: 28px;
        }

            @media only screen and (max-width: $desktop-width) { // mobile
                height: 100vh;
                min-height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 40px;
            }
        }

        .tecnical-info-tab-container {
        height: auto;
        min-height: 350px;
        transition: all 1s;

        .book-icon {
            padding: 5px 0px 0px 0px;
            width: 28px;
            height: 28px;
        }

            @media only screen and (max-width: $desktop-width) { // mobile
                height: 100vh;
                min-height: 700px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 40px;
            }
        }

    }

    

}